:root {
  --cloud-color: #f4f4fd;
  --navy-color: #2e2f42;
  --white-color: #ffffff;
  --accent-color: #4d5ae5;
  --btnact-color: #404bbf;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  color: #434455;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}
.container {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  background: var(--white-color);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}
.header-list {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color);
}
.header .logo-link {
  margin-right: 76px;
}
.logo-text {
  color: var(--navy-color);
}
.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--btnact-color);
}
.current {
  position: relative;
  color: var(--btnact-color);
}

.current::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  background: var(--btnact-color);
  left: 0;
  height: 4px;
  bottom: -1px;
  width: 100%;
}
.address {
  font-style: normal;
}
.contacts {
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover,
.contacts:focus {
  color: var(--btnact-color);
}
.main-page {
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/office.jpg);
  max-width: 1440px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}

@media screen and (min-resolution: 192dpi) {
  .main-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/office@2x.jpg);
  }
}

.page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
  max-width: 496px;
}

.button-main {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: var(--accent-color);
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover,
.button-main:focus {
  background: var(--btnact-color);
}
.basic-description {
  padding: 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description-list {
  gap: 72px;
  display: flex;
  flex-direction: column;
}

.description-item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 96px;
  align-items: flex-start;
  justify-content: center;
}

.third-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  margin-bottom: 8px;

  text-align: center;
}

.text {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-image {
  padding-bottom: 120px;
}

.image-list {
  display: flex;
  gap: 24px;
}
.image-list-item {
  width: calc((100% - 48px) / 3);
}
.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-color);
  text-decoration: none;
  list-style: none;
  margin-bottom: 72px;
}
.section-team {
  background-color: var(--cloud-color);
  padding: 120px 0;
}

.team-images {
  display: flex;
  gap: 24px;
}
.team-images-item {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.teamcard-container {
  padding: 32px 0;
  margin: 0 16px;
}

.social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.section-team .icon {
  fill: var(--cloud-color);
}
.social-item {
  width: 40px;
  height: 40px;
}

.section-team .social-link {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-team .social-link:hover,
.section-team .social-link:focus {
  background-color: var(--btnact-color);
}
.third-title-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  text-align: center;
  margin-bottom: 8px;
}
.section-team .text {
  text-align: center;
  margin-bottom: 8px;
}

.customers-section {
  padding: 120px 0;
}

.customer-list {
  display: flex;
  gap: 24px;
}

.customer-item {
  height: 88px;
  width: calc((100% - 120px) / 6);
}
.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link .icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
  border-color: var(--btnact-color);
  color: var(--btnact-color);
  fill: var(--btnact-color);
}

.footer {
  background-color: var(--navy-color);
  padding: 100px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-container .logo-link {
  display: block;
  margin-bottom: 16px;
}
.fcontainer-logotext {
  margin-right: 120px;
}

.flogo-text {
  color: var(--cloud-color);
}
.ftext {
  letter-spacing: 0.02em;
  color: var(--cloud-color);
  max-width: 264px;
  align-self: flex-end;
}
.textf {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: var(--white-color);
  margin-bottom: 16px;
}
.fsocial-list {
  display: flex;
  gap: 16px;
}

.footer .icon {
  fill: var(--cloud-color);
}
.footer .social-link {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #31d0aa;
}

.portfolio-section {
  padding-bottom: 120px;
  padding-top: 96px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.button-portfolio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background: var(--cloud-color);
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  padding: 12px 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white-color);
  background: var(--btnact-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-images {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.portfolio-card {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  color: var(--cloud-color);
  font-weight: 400;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
  transform: translateY(0);
}
.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.prtfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-color);
  margin-bottom: 8px;
}
.portfolio-text {
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #434455;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.fform-container {
  margin-left: auto;
}
.fform-container .icon {
  margin-left: 16px;
}

.fform {
  display: flex;
  gap: 24px;
}
.footer-input {
  color: var(--white-color);
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  padding-left: 16px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input:hover,
.footer-input:focus {
  border-color: var(--accent-color);
}

.footer-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-button:hover,
.footer-button:focus {
  background: var(--btnact-color);
}

/*---modal---*/
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.button-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  background-color: #e7e9fc;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close .icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  background-color: var(--btnact-color);
  border: none;
  fill: var(--white-color);
}

.modal-container {
  position: relative;
  margin-bottom: 8px;
}

.modal-title {
  color: var(--navy-color);
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.label-modal {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}
.input-container {
  position: relative;
}
.modal-input {
  width: 100%;
  min-height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
}

.icon-modal {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .icon-modal,
.modal-input:focus + .icon-modal {
  fill: var(--accent-color);
}
.comment-container {
  margin-bottom: 16px;
}
.modal-textarea {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-color: var(--accent-color);
}

.label-privacy {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  font-weight: 400;
}

.checkbox-container {
  margin-bottom: 24px;
}
.checkbox-span {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input:checked + .label-privacy > .checkbox-span {
  background-color: var(--btnact-color);
  border: none;
  fill: var(--cloud-color);
}

.pp-text {
  color: var(--accent-color);
}
.modal-btn {
  align-self: center;
  padding: 16px 32px;
  color: var(--white-color);
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--accent-color);
  border: none;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--btnact-color);
}
/*--------------------------------------------------tablet----------------------------------------------*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  /*---header---*/
  .contacts {
    gap: 12px;
    flex-direction: column;
    margin-left: auto;
  }
  /*---section-title---*/
  .description-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    max-width: 356px;
  }
  .description-container {
    display: flex;
    min-width: 736px;
    height: 312px;
  }

  .description-item {
    flex-basis: calc((100% - 72px) / 2);
  }
  .basic-description .third-title {
    text-align: left;
  }
  .page-title {
    font-size: 56px;
    line-height: 1.07;
  }
}

/*-----------------------------------------------full screen-------------------------------------------*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
  /*---header---*/
  .contacts {
    flex-direction: row;
    gap: 40px;
  }
  /*---section-title---*/
  .basic-description {
    padding: 120px 0;
  }

  .description-list {
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .description-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background: var(--cloud-color);
  }
  .description-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .basic-description .third-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    text-align: left;
  }
  .basic-description .text {
    font-weight: 400;
    width: 264px;
  }
}
/*---invisible icon---*/
@media screen and (max-width: 1157px) {
  .basic-description .icon {
    display: none;
  }
}

/*---menu---*/
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background: var(--white, #fff);
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
}
.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  /*color: #fff;*/
}
.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-menu .link {
  display: block;
  padding: 10px;
  /*color: #fff;
  /*text-decoration: none;*/
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.msocial-list {
  display: flex;
  gap: 16px;
}

.msocial-list .icon {
  fill: var(--cloud-color);
}
.msocial-list .social-link {
  display: flex;
  background-color: #4d5ae5;
  border-radius: 50%;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  /*transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);*/
}

/*.menu-list {
  margin-bottom: 284px;
}
.mnav-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  color: var(--navy-color);
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mnav-link:hover,
.mnav-link:focus {
  color: var(--btnact-color);
}
.contacts-tel {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.03em;
  padding: 24px 0;
  color: var(--btnact-color);
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-email {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--navy-color);
  letter-spacing: 0.02em;
}*/
